.navbar{

height:70px;

background:#2563eb;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

color:white;

}

.logo{

font-size:24px;

font-weight:bold;

}

.search-box{

background:white;

padding:10px;

border-radius:10px;

display:flex;

align-items:center;

gap:10px;

width:350px;

}

.search-box input{

border:none;

outline:none;

width:100%;

}

.navbar-right{

display:flex;

gap:20px;

font-size:24px;

align-items:center;

}

.icon{

cursor:pointer;

}

.user{

font-size:34px;

}